.profile{
    overflow: auto;
    min-height: 100vh;
}

.profile-mainPage{
    padding-top: 100px;
}

.profile-title{
    margin-top: 10px;
    color: #9097C0;
    font-weight: bold;
    text-align: center;
}

.card {
    max-width: max-content;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #9097C0;
    padding: 20px 40px;
  }
  
.card-header img {
    max-width: 30px;
}

.profile-img{
    display: block;
    margin: 0 auto;
    height: 100px;
}

.button-edit{
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    margin: 20px;
    color: #503B31;
    border: 2px solid #503B31;
    box-shadow:  0 4px 4px #503B31;
}

.button-delete{
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    margin: 20px;
    color: #9097C0;
    border: 2px solid #9097C0;
    box-shadow:  0 4px 4px #404771;
}

table{
    margin: 20px  0;
}

tr td:first-child {
    font-weight: bold;
    padding-left: 20px;
    padding-right: 10px;
}

tr td:last-child {
    font-weight: bold;
    color: #fff;
}
  